<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fim</title>
</head>
<body>
    <h1>Početna</h1>

    {% if user.is_authenticated %}
        <p>Vaše ime: {{ user.username }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Niste prijavljeni.</p>
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    
    <br>
    <a href="/filmovi">Prikaži filmove</a>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>